@model EruptiousGamesApp.Controllers.DashboardController.DashBoardItem

@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/adminForms.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
}

<style>
    a {
        color: inherit;
        text-decoration: inherit;
    }

        a:hover, a:focus {
            color: inherit;
            text-decoration: inherit;
        }
</style>

<script>
    $(document).ready(function () {

        //hides dropdown content
        $(".search_field_amb").hide();
        $(".search_field_man").hide();

        //unhides first option content
        $("#day_amb").show();
        $("#overall_man").show();

        //listen to dropdown for change
        $("#search_select_amb").change(function () {
            //rehide content on change
            $('.search_field_amb').hide();
            //unhides current item
            $('#' + $(this).val()).show();
        });
        $("#search_select_man").change(function () {
            //rehide content on change
            $('.search_field_man').hide();
            //unhides current item
            $('#' + $(this).val()).show();
        });
        $("#search_select_adm").change(function () {
            //rehide content on change
            $('.search_field_adm').hide();
            //unhides current item
            $('#' + $(this).val()).show();
        });
    });
</script>

@section crumbContent{
    <span>
        <img class="mb-4" src='@Url.Content("~/Content/Images/dashboard.png")' style="width:20%; max-width:60px; margin:5px;">
        @Html.ActionLink("Dashboard", "Index", "Dashboard", null, new { @class = "h3", @style = "display: inline-block" })
    </span>
}


<br /><br />

<div class="container">
    <div class="card shadow arial">
        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h2>Welcome @Html.DisplayFor(m => Model.employee.EmpName)!</h2>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <select id="search_select_amb" class="filter">
                                <option value="day_amb">Day</option>
                                <option value="cam_amb">Current campaign</option>
                            </select>
                            <br />
                            <br />
                            <h4>
                                Decks On Hand:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.employee.DecksOnHand)
                                </span>
                            </h4>
                            <div id="day_amb" class="search_field_amb">
                                <h4>
                                    Customers Played With:
                                    <span class="badge badge-info">
                                        @Html.DisplayFor(m => Model.personalPlayedPerDay)
                                    </span>
                                </h4>
                                <h4>
                                    Sales:
                                    <span class="badge badge-info">
                                        @Html.DisplayFor(m => Model.personalSalePerDay)
                                    </span>
                                </h4>
                                <h4>
                                    Closing Ratio:
                                    <span class="badge badge-info">
                                        @Html.DisplayFor(m => Model.personalClosingRatioPerDay)%
                                    </span>
                                </h4>
                            </div>
                            <div id="cam_amb" class="search_field_amb">
                                @if (Model.assignedToCampaign == true)
                                {
                                    <h4>
                                        Customers Played With:
                                        <span class="badge badge-info">
                                            @Html.DisplayFor(m => Model.personalPlayedPerCampaign)
                                        </span>
                                    </h4>
                                    <h4>

                                        Sales:
                                        <span class="badge badge-info">
                                            @Html.DisplayFor(m => Model.personalSalePerCampaign)
                                        </span>
                                    </h4>
                                    <h4>

                                        Closing Ratio:
                                        <span class="badge badge-info">
                                            @Html.DisplayFor(m => Model.personalClosingRatioPerCampaign)%
                                        </span>
                                    </h4>
                                }
                                else
                                {
                                    <h4>You are not assigned to any active campaign</h4>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                @if ((int)Model.employee.Role != 0)
                {
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h2>Manager</h2>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <select id="search_select_man">
                                    <option value="overall_man">Overall</option>
                                    @{
                                        int i = 0;
                                        foreach (var c in Model.campaignNames.Reverse())
                                        {
                                            <option value="cam_@i">@c</option>
                                            i += 1;
                                        }
                                    }
                                </select>
                                <br />
                                <br />
                                <div id="overall_man" class="search_field_man">
                                    <h4>
                                        Customers Played:
                                        <span class="badge badge-info">
                                            @Html.DisplayFor(m => Model.overallPlayed)
                                        </span>
                                    </h4>
                                    <h4>
                                        Sales:
                                        <span class="badge badge-info">
                                            @Html.DisplayFor(m => Model.overallSale)
                                        </span>
                                    </h4>
                                    <h4>
                                        Closing Ratio:
                                        <span class="badge badge-info">
                                            @Html.DisplayFor(m => Model.overallClosingRatio)%
                                        </span>
                                    </h4>
                                </div>

                                @{
                                    int j = 0;
                                    var reversePlayed = Model.campaignPlayeds.Reverse();
                                    var reverseSale = Model.campaignSales.Reverse();
                                    var reverseRatio = Model.campaignClosingRatioes.Reverse();
                                    foreach (var c in Model.campaignNames.Reverse())
                                    {
                                        <div id="cam_@j" class="search_field_man">
                                            <h4>
                                                Customers Played:
                                                <span class="badge badge-info">
                                                    @reversePlayed.ElementAt(j)
                                                </span>
                                            </h4>
                                            <h4>
                                                Sales:
                                                <span class="badge badge-info">
                                                    @reverseSale.ElementAt(j)
                                                </span>
                                            </h4>
                                            <h4>
                                                Closing Ratio:
                                                <span class="badge badge-info">
                                                    @reverseRatio.ElementAt(j)%
                                                </span>
                                            </h4>
                                        </div>
                                        j += 1;
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                @if ((int)Model.employee.Role == 3)
                {
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <h2>Admin</h2>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <h4>
                                    Total Accounts:
                                    <span class="badge badge-info">
                                        @Html.DisplayFor(m => Model.overallPlayed)
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



