@model EruptiousGamesApp.Controllers.DashboardController.DashBoardItem

@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/adminForms.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
}

<style>
    a {
        color: inherit;
        text-decoration: inherit;
    }

        a:hover, a:focus {
            color: inherit;
            text-decoration: inherit;
        }
</style>


<br /><br />

<div class="container">
    <div class="card shadow arial">
        <div class="card-body">
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <h2>Welcome @Html.DisplayFor(m => Model.employee.EmpName)!</h2>
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <h4>
                                Status:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.employee.Role)
                                </span>
                            </h4>
                            <h4>
                                Decks On Hand:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.employee.DecksOnHand)
                                </span>
                            </h4>
                            <h4>
                                Customers:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.personalPlayed)
                                </span>
                            </h4>
                            <h4>
                                Feedback:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.personalInfoCollected)
                                </span>
                            </h4>
                            <h4>
                                Decks Sold:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.personalSale)
                                </span>
                            </h4>
                            <h4>
                                Closing Ratio:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.closingRatio)%
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                @if((int)Model.employee.Role != 0) { 
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <h2>Manager</h2>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <h4>
                                Current Campaign:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.campaign.CamName)
                                </span>
                            </h4>
                            <h4>
                                Total Customers:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.campaignPlayed)
                                </span>
                            </h4>
                            <h4>
                                Total Customer Information:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.campaignInfoColleted)

                                </span>
                            </h4>
                            <h4>
                                Total Sales:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.campaignSale)
                                </span>
                            </h4>
                        </div>
                    </div>
                </div>
                }
                @if ((int)Model.employee.Role == 2)
                {
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <h2>Admin</h2>
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <h4>
                                Total Accounts:
                                <span class="badge badge-info">
                                    @Html.DisplayFor(m => Model.totalAccount)
                                </span>
                            </h4> 
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>



