@{
    ViewBag.Title = "Home Page";
    <link href="~/Content/basic.css" rel="stylesheet" type="text/css" />

}

<div class="form-basic">
    <img class="mb-4" src='@Url.Content("~/Content/Images/workspace.png")' style="width:50%;display: block; margin-left: auto; margin-right: auto;">
    <h1 class="h1 font-weight-bold font-weight-normal textShadow" style="text-align:center; color: steelblue">Workspace</h1>

    <div class="row">
        <div class="col-sm-12" style="margin:10px">
            <a href='@Url.Action("Create", "CustomerInfo")'>
                <button class="btn btn-light btn-lg btn-block shadow" style="height:150px">
                    <img class="center" src='@Url.Content("~/Content/Images/custInfoButton.png")' width:60% />
                </button>
            </a>
        </div>
        <div class="col-sm-12" style="margin:10px">
            <a href='@Url.Action("InputRequest", "Requests")'>
                <button class="btn btn-light btn-lg btn-block shadow" style="height:150px">
                    <img class="center" src='@Url.Content("~/Content/Images/inventoryButton.png")' width:60% />
                </button>
            </a>
        </div>
        <div class="col-sm-12" style="margin:10px">
            <a href='@Url.Action("Create", "Notes")'>
                <button class="btn btn-light btn-lg btn-block shadow" style="height:150px">
                    <img class="center" src='@Url.Content("~/Content/Images/feedbackButton.png")' width:60% />

                </button>
            </a>
        </div>

        <div class="col-sm-12" style="margin:10px">
            <a href='@Url.Action("Index", "Dashboard")'>
                <button type="button" class="btn btn-light btn-lg btn-block shadow" style="height:150px">
                    <img class="center" src='@Url.Content("~/Content/Images/dashboardButton.png")' width:60% />
                </button>
            </a>
        </div>

        <div class="col-sm-12" style="margin:10px">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <button type="button" class="btn btn-light btn-lg btn-block shadow" style="height:150px">
                            <img class="center" src='@Url.Content("~/Content/Images/logoutButton.png")' style="width:60%" />
                        </button>
                    </a>
                }
            }
        </div>
    </div>



    </div>

