@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron" style="height:80vh; margin:5%; margin-top:10%; position:relative">
        

        <div class="text-center">
            <h1>Workspace</h1>
        </div>
        <hr />

        <br />
        <div class="row" style="margin:3%">
            <div class="col-md-4">
                <a href='@Url.Action("Index", "Home")'>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Customer Information</button>
                </a>
                <hr />
            </div>
            <div class="col-md-4">
                <a href='@Url.Action("InputRequest", "Requests")'>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Inventory</button>
                </a>
                <hr />
            </div>
            <div class="col-md-4">
                <a href='@Url.Action("Index", "Home")'>
                    <button type="button" class="btn btn-primary btn-lg btn-block">Feedback</button>
                </a>
                <hr />
            </div>
        </div>

        <div class="row" style="margin:7%">
            <a href='@Url.Action("Index", "Dashboard")'>
                <button type="button" class="btn btn-primary btn-lg btn-block">Dashboard</button>
            </a>
        </div>


        <div class="row" style="margin:7%">
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <button type="button" class="btn btn-danger btn-lg btn-block">Log Off</button>
                    </a>
                }
            }
        </div>

    </div>

