@model EruptiousGamesApp.Controllers.CampaignsController.CampaignEmployee

@{
    ViewBag.Title = "Assign Employee";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Employee Name
        </th>
        <th>
            Role
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.employeeList.Where(i => i.EmpStatus.ToString() == "ACTIVE"))
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Assign", "AssignEmp", "Assign", new { camID = Model.campaign.CamID, empID = item.EmpID }) |
                @Html.ActionLink("Remove", "AssignEmp", new { camID = Model.campaign.CamID, empID = item.EmpID})
            </td>
        </tr>
    }

</table>


