@model IEnumerable<EruptiousGamesApp.Entities.Campaign>

@{
    ViewBag.Title = "Campaigns";
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    Html.RenderAction("Create", "Campaigns");
}

<div class="mainContent">
    <div class="form-basic">

        <hr />
        <h3>Open Campaigns</h3>
        <hr />

        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="table-primary">
                    <th>
                        <p>Campaign Name</p>
                    </th>
                    <th>
                        <p>Start Date</p>
                    </th>
                    <th>
                        <p>End Date</p>
                    </th>
                    <th>
                        <p>Inventory</p>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(i => i.EndDate > DateTime.Now))
                {
                    <tr>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.CamName)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inventory)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.ActionLink("Edit", "Edit", new { id = item.CamID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CamID }) |
                            @Html.ActionLink("Assign", "AssignEmp", new { id = item.CamID })
                        </td>
                    </tr>
                }
            </table>
        </div>

        <hr />
        <h3>Closed Campaigns</h3>
        <hr />

        <div class="table-responsive">
            <table class="table table-hover">
                <tr class="table-primary">
                    <th>
                        <p>Campaign Name</p>
                    </th>
                    <th>
                        <p>Start Date</p>
                    </th>
                    <th>
                        <p>End Date</p>
                    </th>
                    <th>
                        <p>Inventory</p>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Where(i => i.EndDate < DateTime.Now))
                {
                    <tr>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.CamName)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Inventory)
                        </td>
                        <td style="white-space:nowrap">
                            @Html.ActionLink("Edit", "Edit", new { id = item.CamID }) |
                            @Html.ActionLink("Details", "Details", new { id = item.CamID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CamID }) |
                            @Html.ActionLink("Assign", "AssignEmp", new { id = item.CamID })
                        </td>
                    </tr>
                }
            </table>
        </div>

    </div>
</div>
