@model EruptiousGamesApp.Controllers.RequestsController.EmployeeRequest

@{
    ViewBag.Title = "Input Request";
    <link href="~/Content/adminForms.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
}

@section crumbContent{
    <span>
        <img class="mb-4" src='@Url.Content("~/Content/Images/workspace.png")' style="width:20%; max-width:40px; margin:5px;">
        @Html.ActionLink("Workspace", "Index", "Home", null, new { @class = "h5", @style = "display: inline-block" })
        ⮞
        @Html.ActionLink("Inventory Requests", "InputRequest", "Requests", null, new { @class = "h5", @style = "display: inline-block" })
    </span>
}

<div class="mainContent w3-animate-bottom">
    <div class="form-basic">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="card shadow arial" style="width:100%">
                <div class="card-header">
                    <img src='@Url.Content("~/Content/Images/inventoryButton.png")' style="width:80%; max-width:200px; display: block; margin-left: auto; margin-right: auto;">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <h3 class="control-label col-md-12 arial font-weight-bold">
                            Decks on Hand: <span class="badge badge-info">@Html.DisplayFor(model => model.employee.DecksOnHand)</span>
                        </h3>
                    </li>
                    <li class="list-group-item">
                        <div class="alert alert-light" role="alert">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <h5>@Html.LabelFor(model => model.request.Action, htmlAttributes: new { @class = "control-label col-md-2 arial" })</h5>
                                <div class="col-md-12">
                                    @Html.EnumDropDownListFor(model => model.request.Action, htmlAttributes: new { @class = "form-control form-control-lg", @style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.request.Action, "", new { @class = "text-danger" })
                                </div>

                                <h5>@Html.LabelFor(model => model.request.Amount, htmlAttributes: new { @class = "control-label col-md-12 arial" })</h5>
                                @if (TempData["Error"] != null)
                                {
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        @TempData["Error"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                }
                                <div class="col-md-12">
                                    @Html.EditorFor(model => model.request.Amount, new { htmlAttributes = new { @class = "form-control form-control-lg", @Value = "0" } })
                                    @Html.ValidationMessageFor(model => model.request.Amount, "", new { @class = "text-danger" })
                                </div>

                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-light shadow">
                                    <img src="~/Content/Images/submitButton.png" style="max-width:120px" />
                                </button>
                            </div>
                        </div>
                    </li>
                
                </ul>
            </div>

            if ((int)(Model.employee.Role) != 0)
            {
                <div class="card arial" style="margin-top: 10px">
                    <h5 style="margin-top:10px; margin-left: 10px">Admin Quick Access</h5>
                    <div style="margin:10px;font-size:medium">
                        @Html.ActionLink("List of Requests", "RequestAdmin")
                    </div>
                </div>
            }
        }

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
