@model IEnumerable<EruptiousGamesApp.Entities.Request>

@{
    ViewBag.Title = "Inventory Requests";
    <link href="~/Content/adminForms.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
}

@section crumbContent{
    <span>
        <img class="mb-4" src='@Url.Content("~/Content/Images/adminFunctions.png")' style="width:20%; max-width:60px; margin:5px;">
        @Html.ActionLink("Inventory", "RequestAdmin", "Requests", null, new { @class = "h3", @style = "display: inline-block" })
    </span>
}
<style>
    .filter {
        padding: 5px;
        margin: 5px;
    }
</style>

<script>
    $(document).ready(function () {
        $("#range_select").change(function () {
            $('.all').removeClass("range_true");
            if ($(this).val() === "all") {
                $('.' + $(this).val()).addClass("range_true");
            } else {
                let i = $(this).val();
                while (i-- > 0) {
                    $('.date_' + i).addClass("range_true");
                }
            }
            checkVisible();
        });

        $("#cam_select").change(function () {
            $('.all').removeClass("cam_true");
            if ($(this).val() === "all") {
                $('.' + $(this).val()).addClass("cam_true");
            } else {
                $('.cam_' + $(this).val()).addClass("cam_true");
            }
            checkVisible();
        });

        $("#emp_select").change(function () {
            $('.all').removeClass("emp_true");
            if ($(this).val() === "all") {
                $('.' + $(this).val()).addClass("emp_true");
            } else {
                $('.emp_' + $(this).val()).addClass("emp_true");
            }
            checkVisible();
        });

        $("#status_select").change(function () {
            $('.all').removeClass("status_true");
            if ($(this).val() === "all") {
                $('.' + $(this).val()).addClass("status_true");
            } else {
                $('.status_' + $(this).val()).addClass("status_true");
            }
            checkVisible();
        });

        function checkVisible() {
            $(".all").hide();
            $(".range_true.status_true.cam_true.emp_true").show();
        }
    });
</script>

<div style="margin-top:5%">

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["Error"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="card text-center shadow w3-animate-left">
        <div class="card-header">
            <img src="~/Content/Images/inventoryRequest.png" style="width:30%; max-width:350px" />
        </div>
        <div class="card-body arial">
            <h2>Quick Actions</h2>
            <div class="form-group">
                @Html.ActionLink("Add Request", "InputRequest", "Requests", null, new { @class = "btn btn-info btn-md shadow" })
                <button class="btn btn-info btn-md shadow" data-toggle="modal" data-target="#employeeInventory">Employee Inventory</button>
            </div>
        </div>
    </div>

    <hr />
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-block btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <h2>Search fields</h2>
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <select id="cam_select" size="3" class="form-control">
                        <option value="all">All campaign</option>
                        @{
                            List<int> cam = new List<int>();
                            foreach (var item in Model)
                            {
                                if (!cam.Contains(item.Campaign.CamID))
                                {
                                    cam.Add(item.Campaign.CamID);
                                    <option value="@item.Campaign.CamID">@item.Campaign.CamName</option>
                                }
                            }
                        }
                    </select>
                    <br />
                    <select id="emp_select" size="3" class="form-control">
                        <option value="all">All employee</option>
                        @{
                            List<int> emp = new List<int>();
                            foreach (var item in Model)
                            {
                                if (!emp.Contains(item.Employee.EmpID))
                                {
                                    emp.Add(item.Employee.EmpID);
                                    <option value="@item.Employee.EmpID">@item.Employee.EmpName</option>
                                }
                            }
                        }
                    </select>
                    <br />
                    <select id="range_select" class="form-control">
                        <option value="all">All time</option>
                        <option value="1">Today</option>
                        <option value="8">Week before</option>
                    </select>
                    <br />
                    <select id="status_select" class="form-control">
                        <option value="all">All status</option>
                        <option value="PENDING">Pending</option>
                        <option value="APPROVED">Approved</option>
                        <option value="REJECTED">Rejected</option>
                    </select>
                    <br />
                </div>
            </div>
        </div>
    </div>
    <div class="card text-center shadow w3-animate-bottom">
        <div class="card-header">
            <img src="~/Content/Images/request.png" style="width:20%; max-width:100px" />
            <h2 class="arial">Requests</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tr class="thead-dark">
                        <th>
                            Campaign Name
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Date and Time
                        </th>
                        <th>
                            Amount of Decks
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.OrderBy(s => s.DateTime).Reverse())
                    {
                        if ((int)(item.Action) == 0)
                        {
                            int days = (int)(DateTime.Today - @item.DateTime.Date).TotalDays;
                            <tbody class="cam_@item.Campaign.CamID emp_@item.Employee.EmpID all date_@days status_@item.RequestStatus cam_true status_true range_true emp_true">
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Campaign.CamName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmpName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestStatus)
                                    </td>
                                    <td>
                                        @if ((int)(item.RequestStatus) == 0)
                                        {
                                            <button class="btn btn-success btn-sm shadow" style="width:80px; text-decoration:none;">
                                                @Html.ActionLink("Approve", "Approve", new { id = item.RequestID })
                                            </button>
                                            <button class="btn btn-danger btn-sm shadow" style="width:80px; text-decoration:none;">
                                                @Html.ActionLink("Reject", "Reject", new { id = item.RequestID })
                                            </button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
    <hr />
    <div class="card text-center shadow w3-animate-bottom">
        <div class="card-header">
            <img src="~/Content/Images/return.png" style="width:20%; max-width:100px" />
            <h2 class="arial">Returns</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive table-bordered">
                <table class="table">
                    <tr class="thead-dark">
                        <th>
                            Campaign Name
                        </th>
                        <th>
                            Employee Name
                        </th>
                        <th>
                            Date and Time
                        </th>
                        <th>
                            Amount of Decks
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.OrderBy(s => s.DateTime).Reverse())
                    {
                        if ((int)(item.Action) == 1)
                        {
                            int days = (int)(DateTime.Today - @item.DateTime.Date).TotalDays;
                            <tbody class="cam_@item.Campaign.CamID emp_@item.Employee.EmpID all date_@days status_@item.RequestStatus cam_true status_true range_true emp_true">
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Campaign.CamName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Employee.EmpName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RequestStatus)
                                    </td>
                                    <td>
                                        @if ((int)(item.RequestStatus) == 0)
                                        {
                                            <button class="btn btn-success btn-sm shadow" style="width:80px; text-decoration:none;">
                                                @Html.ActionLink("Approve", "Approve", new { id = item.RequestID })
                                            </button>
                                            <button class="btn btn-danger btn-sm shadow" style="width:80px; text-decoration:none;">
                                                @Html.ActionLink("Reject", "Reject", new { id = item.RequestID })
                                            </button>
                                        }
                                    </td>
                                </tr>
                            </tbody>
                        }
                    }

                </table>
            </div>


        </div>
    </div>
</div>

    <!-- Employee Inventory Modal -->
    <div class="modal fade" id="employeeInventory" tabindex="-1" role="dialog" aria-labelledby="employeeInventory" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="privacypolicyLabel">Employee Inventory</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="table-responsive table-bordered">
                            <table class="table">
                                <tr class="thead-dark">
                                    <th>
                                        Employee Name
                                    </th>
                                    <th>
                                        Inventory
                                    </th>
                                </tr>

                                @foreach (var item in ViewBag.employeeList)
                                {
                                    <tr>
                                        <td>
                                            @item.EmpName
                                        </td>
                                        <td>
                                            @item.DecksOnHand
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
