@model IEnumerable<EruptiousGamesApp.Models.ApplicationUser>

<h2>
    Download Customer Info
</h2>

@*
    DateTime Start = new DateTime(2019, 5, 1);
    DateTime End = new DateTime(2019, 5, 31);
    
    
    <div>
        <a href="@Url.Action("DownloadExcel","Account",new { Start = 05/11/2019, End = 05/12/2019 })">Download Excel</a>
    </div>*@

<div>
    <a href="@Url.Action("DownloadExcel","Account")">Download Excel</a>
</div>


<h2>
    Account List
</h2>
<p>
    @Html.ActionLink("Create New", "AccountCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmpID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Role)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmpID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Role)
            </td>
            <td>
                @Html.ActionLink("Edit", "AccountEdit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
