@model EruptiousGamesApp.Models.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
    <link href="~/Content/adminForms.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
}


@section crumbContent{
    <span>
        <img class="mb-4" src='@Url.Content("~/Content/Images/adminFunctions.png")' style="width:20%; max-width:60px; margin:5px;">
        @Html.ActionLink("Accounts", "AccountList", "Account", null, new { @class = "h5", @style = "display: inline-block" })
        ⮞
        @Html.ActionLink("Password", "AccountChangePassword", "Account", null, new { @class = "h5", @style = "display: inline-block" })
    </span>
}

<div class="card shadow w3-animate-bottom">
    <div class="card-header  text-center">
        <img src="~/Content/Images/account.png" style="width:20%; max-width:80px" />
        <h2 class="arial">@ViewBag.Title</h2>
    </div>

    <div class="card-body arial">
        @using (Html.BeginForm("AccountChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-12 control-label" })
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-success btn-md" />
                </div>
            </div>
        }
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
