@model IEnumerable<EruptiousGamesApp.Models.ApplicationUser>

@{
    ViewBag.Title = "Accounts";
    <link href="~/Content/adminForms.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
}

@section crumbContent{
    <span>
        <img class="mb-4" src='@Url.Content("~/Content/Images/adminFunctions.png")' style="width:20%; max-width:60px; margin:5px;">
        @Html.ActionLink("Accounts", "AccountList", "Account", null, new { @class = "h3", @style = "display: inline-block" })
    </span>
}

<div style="margin-top:5%">

    <div class="card text-center shadow w3-animate-left">
        <div class="card-header">
            <img src="~/Content/Images/account.png" style="width:20%; max-width:80px" />
            <h2 class="arial">Accounts</h2>
        </div>
        <div class="card-body arial">
            <h2>Download Customer Info</h2>
            <div class="form-group">
                @Html.ActionLink("Download Excel", "excelCustomer", "Campaigns", null, new { @class = "btn btn-info btn-md shadow" })
                @Html.ActionLink("Create Account", "AccountCreate", "Account", null, new { @class = "btn btn-success btn-md shadow" })
            </div>
        </div>
    </div>
    <hr />
    <div class="card text-center shadow w3-animate-bottom">
        <div class="card-header">
            <img src="~/Content/Images/accountList.png" style="width:20%; max-width:80px" />
            <h2 class="arial">Accounts List</h2>
        </div>
        <div class="card-body">

            <div id="accordion">
                <div class="card shadow">
                    <div class="card-header btn btn-link" style="text-decoration:none" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                        <h5 class="mb-0">
                            <h4>Administrators</h4>
                            <div>&#11088; 	&#11088; 	&#11088;</div>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <tr class="thead-dark">
                                        <th> Employee Name </th>
                                        <th> Username </th>
                                        <th> Role </th>
                                        <th> Status </th>
                                        <th> Customer Play With </th>
                                        <th> Sold </th>
                                        <th> Action </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        if ((int)item.Employee.Role == 2)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.EmpName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.Role)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.EmpStatus)
                                                </td>
                                                <td>
                                                    @item.Employee.Workings.Sum(w => w.CustomerPlayWith)
                                                </td>
                                                <td>
                                                    @item.Employee.Workings.Sum(w => w.Sold)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "AccountEdit", new { id = item.Id }) |
                                                    @Html.ActionLink("Change Password", "AccountChangePassword", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="card shadow">
                    <div class="card-header btn btn-link collapsed" style="text-decoration:none" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                        <h5 class="mb-0">
                            <h4>Managers</h4>
                            <div>&#11088; 	&#11088;</div>
                        </h5>
                    </div>

                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo">
                        <div class="card-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <tr class="thead-dark">
                                        <th> Employee Name </th>
                                        <th> Username </th>
                                        <th> Role </th>
                                        <th> Status </th>
                                        <th> Customer Play With </th>
                                        <th> Sold </th>
                                        <th> Action </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        if ((int)item.Employee.Role == 1)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.EmpName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.Role)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.EmpStatus)
                                                </td>
                                                <td>
                                                    @item.Employee.Workings.Sum(w => w.CustomerPlayWith)
                                                </td>
                                                <td>
                                                    @item.Employee.Workings.Sum(w => w.Sold)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "AccountEdit", new { id = item.Id }) |
                                                    @Html.ActionLink("Change Password", "AccountChangePassword", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="card shadow">
                    <div class="card-header btn btn-link collapsed" style="text-decoration:none" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                        <h5 class="mb-0">
                            <h4>Ambassadors</h4>
                            <div>&#11088;</div>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse show" aria-labelledby="headingThree">
                        <div class="card-body">
                            <div class="table-responsive table-bordered">
                                <table class="table">
                                    <tr class="thead-dark">
                                        <th> Employee Name </th>
                                        <th> Username </th>
                                        <th> Role </th>
                                        <th> Status </th>
                                        <th> Customer Play With </th>
                                        <th> Sold </th>
                                        <th> Action </th>
                                    </tr>

                                    @foreach (var item in Model)
                                    {
                                        if ((int)item.Employee.Role == 0)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.EmpName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.UserName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.Role)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Employee.EmpStatus)
                                                </td>
                                                <td>
                                                    @item.Employee.Workings.Sum(w => w.CustomerPlayWith)
                                                </td>
                                                <td>
                                                    @item.Employee.Workings.Sum(w => w.Sold)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "AccountEdit", new { id = item.Id }) |
                                                    @Html.ActionLink("Change Password", "AccountChangePassword", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }
                                    }

                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







